<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="static/script.js"></script>
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div class="container">
        <h2 id="submit_signup">Sign Up</h2>
        <div id="signup-tab">
            <form id="signup-form" action="/signup" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="dob">DOB:</label>
                <input type="date" id="dob" name="dob" required>
                <label for="signup-username">Username:</label>
                <input type="text" id="signup-username" name="username" required>
                <label for="login-password">Password:</label>
                <div class="password-input-container2">
                    <input type="password" id="login-password2" name="password" required>
                    <button type="button" class="eye-button" onclick="togglePassword('login-password2')">👁️</button>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <p class="name">SLIDE</p>
    <div class="back-pic2"></div>
    <p class="name2">CRAFT</p>
    <div class="pic2"></div>
    <div class="logo">
        <img src="logo_final.png" alt="Your Logo">
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</body>

</html>